html *{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
#siteName{
text-align: center;
color: aquamarine;
    background-color: cornflowerblue;
        font-size: 50px;
}
main{
    text-align: center;
}

#city1{
    display:inline;
    border: 2px solid #000000;
    padding: 5px;
    font-size: 30px;
    margin: 20px;
  background-color: chartreuse;
        
}
#city2{
    display:inline;
    border: 2px solid #000000;
    padding: 5px;
    font-size: 30px;
    margin: 20px;
    background-color: chartreuse;
    
}
#city3{
    display:inline;
    border : 2px solid #000000;
    padding: 5px;
    font-size: 30px;
    background-color: chartreuse;

    
}
#ul{
    font-weight: bold;
    display: inline-block;
    margin: auto;
}
nav {
    text-align: center;
}
nav a{
    min-width: 450px;
}

#franklin{
    text-align: 700px;
    background-color: bisque;
    left: 1000;
     width: 300px;
    font-size: 35;
    color: skyblue;
     padding: 20px;
    position: ;
    text-align: center;
        color: black;
    padding: left 100px;
    display: inline-block;
    margin-top: 50px;

    
    
}
#maincontent{
    max-width: 400px;
    text-align: left;
    display: block;
    margin-left: 100px;
    
    
}
#weathertoday{
    background-color: lightblue; 
   width: right;
}

#temp{
    
    
}
#prec{
    font-weight: bold;
    
    
}
#wind{
    font-weight: bold;
    position: right;
    
    
}
#dir{
    font-weight: bold;
    
    
}
#longitude{
    font-weight: bold;
    
}
#latitude{
    font-weight: bold;
}
#zip{
    font-weight: bold;
    height: static 100px;
}
    

    