html *{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
#siteName{
text-align: center;
color: white;
    background-color: cornflowerblue;
        font-size: 75px;
}
main{
    text-align: center;
}
/*  txt */

#city1{
    display:inline;
    
    padding: 5px;
    font-size: 30px;
    margin: 20px;
  
    color: cornflowerblue;
    /* text */
        
}
#city2{
    display:inline;
    
    padding: 5px;
    font-size: 30px;
    margin: 20px;
    color:  cornflowerblue;
    
}
#city3{
    display:inline;
    
    padding: 5px;
    font-size: 30px;
    color: cornflowerblue;
    

    
}
#ul{
    font-weight: bold;
    display: inline-block;
    margin: auto;
}
nav {
    text-align: center;
}
nav a{
    min-width: 450px;
    color: cornflowerblue;
    font-size: 1em;
    
}

#franklin{
    text-align: 700px;
    background-color: bisque;
    left: 1000;
     width: 300px;
    font-size: 3em;
    color: skyblue;
     padding: 20px;
    position: ;
    text-align: center;
        color: black;
    padding: left 100px;
    display: inline-block;
    margin-top: 50px;

    
    
}
#maincontent{
    max-width: 500px;
    text-align: left;
    display: block;
    margin-left: 20px;
    font-size: 2.5em;
    
    
}
#weathertoday{
    
     
   width: right;
    color: cornflowerblue;
}
#weathertoday h2{
    font-size: 2.5em;
}
#temp{
    
    
}
#prec{
    font-weight: bold;
    
    
}
#wind{
    font-weight: bold;
    position: right;
    
    
}
#dir{
    font-weight: bold;
    
    
}
#longitude{
    font-weight: bold;
    
}
#latitude{
    font-weight: bold;
}
#zip{
    font-weight: bold;
    height: static 100px;
    padding-bottom: 400px;
}
    

h1{
    font-size: 35px;
    
}
h2{
    font-size: 30px;
}
