/*change the box model*/
html{
    box-sizing: border-box;
}
*:before,*:after{
    box-sizing: border-box;
}

p{
background-color:gold;
    padding: 16 px;
    border: 1 px solid # 000000;
    margin; 30 px;
    width: 500px;
}

h1 {
    color: blue;
}