#left{
    border-width: 10px;
    border-style: solid;
    border-color: black;
    text-align: left;
    width: 500px;
    
}
#ferrari{
    width: 580px;
}
#textalignment{
    width:580px;
}
#alignment{
    width: 580px;
}